<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="greenleaf" sortOrder="300">
            <label>Greenleaf Media</label>
        </tab>
        <section id="keep_alive" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Session Keep Alive</label>
            <tab>greenleaf</tab>
            <resource>Greenleaf_SessionKeepAlive::config_sessionkeepalive</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="refresh_seconds" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Seconds to refresh&nbsp;<span style="color: #D40707;">*</span>]]></label>
                    <validate>validate-greater-than-zero required-entry</validate>
                    <comment><![CDATA[How frequently to refresh session in seconds.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>